<!doctype html>
<html>

<head>
    <% include header %>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4"> Loglytics</h1>
            <hr class="my-4">
            <p class="lead">Login or Register with:</p>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
            <a href="/auth/google" class="btn btn-secondary"><span class="fa fa-google-plus"></span> Google</a>
            <a href="/auth/github" class="btn btn-secondary"><span class="fa fa-github"></span> Github</a>
        </div>
    </div>
</body>

</html>